* {
    margin: 0;
    box-sizing: border-box;
    font-family: "bernhard-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
    border-radius: 10%;
}

body {
    
    font-size: 16px;
    background: #F5F5DC;
    color: #1F1F1F;
}

h1 {
    font-family: "bernhard-gothic-urw", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
}

h2 {
    font-family: "bernhard-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h1 a:visited {
    color: #1F1F1F !important;
}

section.parent {
    width: 100%;
    min-height: 30vh;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    
}


h4 {
    font-family: "bernhard-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  


section.weekly_exercise {
    padding-top: 30px; 
    padding-bottom: 10px; 
}

#button {
    padding-top: 80px;
}

#rcorners1 {
    width: 220px;
    height: 220px; 
    background: #008080;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
  }


  .container {
    display: flex;
    align-items: center; /* center items vertically */
    justify-content: center;
  }

  .images {
    width:40vh;
}

#beforeAfterText {
    text-align: center;
    font-size: 72px;
}

h5 {
    font-size: 40px;
    font-family: "bernhard-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;

}

button {
    background-color: #008080;
    color: white;
    text-align: center;
    margin: auto;
}